.contactus{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
    flex-wrap: wrap; 
}
.contactus p{
    font-size: 12px;
}
.contactus h2,h4{
    color: crimson;

}
.contactus img{
    width: 500px;
    max-width: 700px;
    height: auto;
    max-height: 500px;
    margin-right: 30px;

}
.main{
    max-width: 380px;
    width: 380px;
    height: auto;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 0;
}
.main input{
    height: auto;
    max-width: 90%;
    display: block;
    margin: 25px;;
    border: none;
    border-bottom: 2px solid crimson;
    outline: none;
}
